:root {
  --primary-color: #646263;
  --secondary-color: #faf9fa;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: #faf9fa;
}

h1 {
  font-size: 96px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 64px;
  margin-top: 60px;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  opacity: 0.9;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 0;
}

li {
  list-style-type: circle;
}
i {
  color: black;
  opacity: 0.9;
  font-size: 30px;
  margin-bottom: 20px;
}
.body-container {
  margin-top: 150px;
}

.navbar-log {
  width: 50px;
  border-radius: 100px;
  box-shadow: var(--box-shadow);
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  border-radius: 5px;
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
}

.logo-image {
  width: 800px;
  height: auto;
}

.home-intro {
  padding: 160px 0;
}

.contact-link {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.primary-link {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.home-page-paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 60px;
}

.work-intro {
  margin: 160px 0 80px 0;
}

.about-paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.profile-picture {
  width: 600px;
  height: auto;
}

.project-heading {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  opacity: 0.8;
}

.project-description {
  color: black;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  opacity: 0.8;
}

.contact-info {
  margin-top: 48px;
  font-size: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.email {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
}

.email:hover {
  color: #212529;
}

.linkedin {
  text-decoration: none;
  font-size: 18px;
  color: var(--primary-color);
}

.linkedin:hover {
  color: #212529;
}

.github {
  text-decoration: none;
  font-size: 18px;
  color: var(--primary-color);
}
.github:hover {
  color: #212529;
}

footer .footer-links a {
  margin: 0 20px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px;
    margin-top: 100px;
  }
  h2 {
    margin-top: 15px;
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  .primary-link {
    font-size: 16px;
    margin-bottom: 100px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  .contact-info {
    font-size: 18px;
  }
}
