:root {
  --primary-color: #646263;
  --secondary-color: #faf9fa;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: #faf9fa;
}

h1 {
  font-size: 75px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 48px;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  opacity: 0.7;
}

.body-container {
  margin-top: 76px;
}
.home-intro {
  margin: 60px auto;
  max-width: 800px;
}

.navbar-log {
  width: 50px;
  border-radius: 100px;
  box-shadow: var(--box-shadow);
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  border-radius: 5px;
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
}

.logo-image {
  width: 800px;
  height: auto;
}

.contact-link {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.about-link {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.primary-link {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.home-page-paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.email {
  text-align: center;
  display: block;
  color: var(--primary-color);
}

.about-paragraphs {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.contact-info {
  margin-top: 48px;
  font-size: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.email {
  text-decoration: none;
  margin-bottom: 48px;
}

.email:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px;
    margin-top: 100px;
  }
  h2 {
    margin-top: 15px;
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  .primary-link {
    font-size: 16px;
    margin-bottom: 100px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  .contact-info {
    font-size: 18px;
  }
}
