:root {
  --primary-color: #646263;
  --secondary-color: #faf9fa;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: #faf9fa;
}

.home-intro {
  margin: 60px auto;
  max-width: 800px;
}

.navbar-log {
  width: 50px;
  border-radius: 100px;
  box-shadow: var(--box-shadow);
}

h2 {
  font-size: 48px;
}

h1 {
  font-size: 96px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

.navigation-links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.navigation-links a {
  border-radius: 5px;
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
}

.logo-image {
  width: 800px;
  height: auto;
}

.contact-link {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.email {
  text-align: center;
  display: block;
  color: var(--primary-color);
}

.about-paragraphs {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.contact-info {
  margin-top: 48px;
  font-size: 30px;
  text-align: center;
}
.email {
  text-decoration: none;
  margin-bottom: 48px;
}

.email:hover {
  text-decoration: underline;
}
